@import "./utils/variables";
@import "./utils/mixins.scss";
@import "./base/base";
@import "./layout/category";
@import "./layout/header";
@import "./layout/modal";


.container {
    position: absolute;
    top: 71px;

    @include larger-than-tablet {
        top: 115px;
    }
}

.featured-movie {
    display: grid;
    grid-template-areas:
        "ttl ttl ttl"
        "img img img"
        "btn btn btn"
        "sum sum sum";
    gap: 10px;
    background-color: $second-color;
    padding: 10px 5%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;

    @include larger-than-phone {
        grid-template-areas:
            'ttl ttl img'
            'btn btn img'
            'sum sum img';
        justify-items: left;
    }

    @include larger-than-tablet {
        width: 80%;
    }
}

.featured-movie__title {
    grid-area: ttl;
    font-size: 3rem;
}

.featured-movie__button {
    grid-area: btn;
    background-color: $third-color;
    width: 100px;
    height: 40px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}


.featured-movie__summary {
    grid-area: sum;
}

.featured-movie__image {
    grid-area: img;

    cursor: pointer;

    img {
        width: 100%;
        max-width: 200px;
    }
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid $fourth-color;
}

@mixin arrow_holder {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: calc(50% - 35px);
    z-index: 1;
    width: 50px;
    height: 50px;
    // border-radius: 0%;
    cursor: pointer;

    @include larger-than-tablet {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    @content;
}

.arrow-holder__left {
    @include arrow-holder {}
}

.arrow-holder__right {

    @include arrow-holder {
        right: 0;
        transform: rotate(180deg);
    }
}

.slider__arrow {
    position: relative;
    z-index: 1;
    width: 22px;
    height: 22px;
    border-color: #000;
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    top: 11px;
    left: 16px;

    @include larger-than-tablet {
        width: 35px;
        height: 35px;
        top: 15px;
        left: 23px;
    }
}

.slider__container {
    display: grid;
    position: relative;
}

.no-scroll {
    overflow: hidden;
}