@import "./utils/variables";
@import "./utils/mixins.scss";
@import "./base/base";
@import "./layout/section";
@import "./layout/carousel";
@import "./layout/header";
@import "./layout/modal";


.container {
    position: absolute;
    top: 71px;

    @include larger-than-tablet {
        top: 115px;
    }
}