.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: $first-color-transparent;

    .modal__content {
        background-color: $second-color;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid $third-color;
        width: 80%;

        .modal__close-btn {
            color: $third-color;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: $first-color;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .modal__cover {
            margin: 0 calc(50% - (180px/2)) 20px;
            display: block;

            @include larger-than-phone {
                float: left;
                margin: 2% 5%;
            }
        }

        .modal__title {
            text-align: center;

            @include larger-than-phone {
                text-align: left;
            }
        }

        .modal__list {
            list-style-type: none;

            padding-inline-start: 15px;
            padding-inline-end: 15px;

            @include larger-than-phone {
                padding-inline-start: 40px;
                padding-inline-end: 40px;
            }

            .modal__list-item {
                padding-top: 9px;
            }

            .modal__list-key {
                font-style: normal;
                font-weight: 700;
                color: rgba(35, 49, 66, 1);
                padding-right: 6px;
            }
        }
    }
}