.slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 10px;
    // padding-block-end: 2.5rem;

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-padding-inline-start: 1.5rem;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        /* Chrome, Safari and Opera */
        display: none;
    }

    @include larger-than-tablet {
        padding-inline: 2.5rem;
        scroll-padding-inline-start: 2.5rem;
    }

    &>figure {
        scroll-snap-align: start;
        display: grid;
        gap: inherit;
        margin: 0;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    &>figcaption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -.5px;
    }
}