.featured-movie {
    display: grid;
    grid-template-areas:
        "ttl ttl ttl"
        "img img img"
        "btn btn btn"
        "sum sum sum";
    gap: 10px;
    background-color: $second-color;
    padding: 10px 5%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;

    @include larger-than-phone {
        grid-template-areas:
            'ttl ttl img'
            'btn btn img'
            'sum sum img';
        justify-items: left;
    }

    @include larger-than-tablet {
        width: 80%;
    }
}

.featured-movie__title {
    grid-area: ttl;
    font-size: 3rem;
}

.featured-movie__button {
    grid-area: btn;
    background-color: $third-color;
    width: 100px;
    height: 40px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}


.featured-movie__summary {
    grid-area: sum;
}

.featured-movie__image {
    grid-area: img;

    cursor: pointer;

    img {
        width: 100%;
    }
}